.gameItem_wrapper {
    padding: 10px;
    flex: 1 0 calc( 15% );
    min-width: 250px;
    display: flex;
    flex-direction: column;
    transition: 0.3s box-shadow ease;
    border-radius: 15px;
}
@media only screen and (min-width: 820px) {
  .gameItem_wrapper:hover {
      box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
}

.gameItem_img {
  max-width: 450px;
  height: 197px;
  background-color: azure;
  border-radius: 30px;
 
}

.gameItem_title {
    font-weight: 500;
    font-size: 18px;
   margin: 0;
}